<div id="maincontent">
	<div id="page">
		<div class="post">
		  <div class="posthead">
      <h1>Add a new property</h1>
      <p>
        We've made a best guess at property address, please make sure all details are entered correctly
      </p>
      </div>
      <div class="form2 formstyle">
        <%= form_for(@property,:as=> :property, :url =>{ :controller=>:property, :action=>:create }) do |p| %>
          <%= p.hidden_field(:lat) %>
          <%= p.hidden_field(:lng) %>
	        <div class="fieldsets">
		        <h3>New Property Address</h3>
		        <div class="clear">
		        </div>
		        <p class="info">
			         All fields marked with * are mandatory
		        </p>
        		<%= render "shared/error_list", :item => @property %>
		        <div class="textfield fields">
			        <label>Address*</label>
              <%= p.text_field(:address) %>
		        </div>
		        <div class="clear">
		        </div>
		        <div class="textfield fields">
			        <label>Post Code*</label>
			        <%= p.text_field(:postcode) %>
		        </div>
		        <div class="clear">
		        </div>
		        <div class="textfield fields">
			        <label>Property type*</label>
			        <%= p.select(:propertytype_id, options_for_select(@propertytypes)) %>
			         &nbsp;
		        </div>
		        <div class="clear"></div>
		        <div class="clear"></div>
	        </div>
	        <div class="fieldsets">
	          <div class="textfield fields">
			        <%= p.check_box(:accept_terms, :class=>:inline) %>
			        <label class="inline">I Agree to Landlord Feedback <%= link_to "terms", :anchor=>:terms %> of posting*</label>
		        </div>
		        <%= p.submit("Add property", :class=>:btn1) %>
	        </div>
        <% end %>
      </div>
    </div>
    
    <%= render "shared/terms_conditions"%>
    
	</div>
	<div id="sidebar">
	  <h1>Map</h1>
	  <p>Please move a pink marker at the exact location of property you are adding</p>
	  <div id="add-map"></div>
    <%= render "shared/side_pane" %>
	</div>
	<div class="clear">
	</div>
</div>
<%= javascript_include_tag "map/add-map.js" %>
