<div id="maincontent">
	<div id="page">
    <!-- main adress -->
		<div class="post">
		  <div class="posthead">
		    <p class="date"><%= @property.updated_at%></p>
		    <h1><%=@property.address%></h1>
		    <h1><%=@property.postcode.upcase%></h1>
		    <p class="avt"><%= image_tag user_pic(@property.user.alias)%></p>
		    <p class="postmeta"><%= @property.user.full_name%></p>
		    </p>
		  </div>
 		  <%@property.photos.last(4).each do |f| %>
        <%= image_tag f.photo.url(:thumb) %>
      <% end %>
      <div class="rating"><%= star_rating(:rating => @property.rating, :readonly=>true) %></div>
      <%= render "shared/social_widgets" %>
		</div>
		
    <!-- add new feedback link -->
		<div>
       <h2><%= link_to (raw "Lived in this #{@property.propertytype.name}? <input type='submit' value='add feedback'/>"), {:controller=>:feedback, :action=>:add, :id=>@property.id}, {:class=>:nounder}%></h2>
		</div>

    <!-- feedbacks if any -->
    <% if @property.feedbacks.any? %>
		  <div class="post">
		    <div class="posthead">
		      <h2><%=pluralize(@property.feedbacks.count, 'feedback')%></h2>
        </div>
        <% @property.feedbacks.each do |f| %>
          <blockquote>
            <p><cite>Landlord:</cite><%=f.landlord%></p>
            <p><cite>Agency:</cite><%=f.agency%></p>
            <p><cite>Last Date:</cite><%=f.lastdate%></p>
		        <div class="rating"><%= star_rating(:rating => f.rating, :readonly=>true, :name=>"feedback-rating-#{f.id}") %></div>
            <small>Posted by <%=f.user.full_name %> on <%=f.updated_at %></small>
            <%= link_to 'Details..', :controller =>:feedback, :action=>:view, :id=>f.id %>
          </blockquote>
        <% end %>
		  </div>
    <% end %>

    <% if @property.comments.any? %>
    <!-- comments if any -->
		<div class="post">
      <a class="anchor" name="comments"></a>
		  <div class="posthead">
        <h2><%=pluralize(@property.comments.count, 'Comments')%></h2>
      </div>
      <div id="comments" class="comments-list">
        <% @property.comments.each do |c| %>
          <div class="entry">
             <p class="avt"><%= image_tag user_pic(c.user.alias) %></p>
             <p class="name"><%=c.user.full_name%></p>
             <p class="date"><%=c.updated_at%></p>
             <div class="con">
               <p><%=c.text%></p>
             </div>
          </div>
        <% end %>
      </div>
		</div>
    <% end %>
		
    <!-- post a comment -->
		<div class="post">
      <a class="anchor" name="post_comment"></a>
		  <div class="posthead">
        <h2>Post a Comment</h2>
        <%= login_text_link "Please login via Facebook to post a comment" %>
      </div>
      <div class="form2 formstyle">
        <%= form_for(@comment, :as=>:comment, :url=> { :action=>"comment_create", :id=>@property.id, :anchor=>:post_comment }) do |c| %>
        <div class="fieldsets">
          <h3>New Comment</h3>
	        <div class="clear">
	        </div>
	        <p class="info">
		         All fields marked with * are mandatory
	        </p>
      		<%= render "shared/error_list", :item => @comment %>
          <%= c.hidden_field(:property_id) %>
          <div class="textfield fields">
			      <label>Comment*</label>
            <%= c.text_area(:text, :rows=>5) %>
          </div>    
          <%= c.submit("Add Comment") %>
        </div>
        <% end %>
      </div>
		</div>

	</div>
	<div id="sidebar">
	  <h1>Map</h1>
	  <%= google_static_map :lat=>@property.lat, :lng=>@property.lng %>
	  <div class="clear">&nbsp;</div>
    <%= render "shared/side_search" %>
    <%= render "shared/latest_properties", :properties => @latest_properties %>
		<%= render "shared/latest_feedbacks", :feedbacks => @latest_feedbacks %>
	</div>
	<div class="clear">	</div>
</div>

