<% content_for :title, @property.address %>
<div id="maincontent">
	<div id="page">
    <!-- main adress -->
		<div class="post">
		  <div class="posthead">
  		    <h1><%=@property.address%></h1>
	  	    <h1><%=@property.postcode.upcase%></h1>
		      <p class="date">Added <%= @property.updated_at%></p>
		    </p>
		  </div>
 		  <%@property.photos.last(4).each do |f| %>
        <%= image_tag f.photo.url(:thumb) %>
      <% end %>
      <div class="rating"><%= star_rating(:rating => @property.rating, :readonly=>true) %></div>
      <%= render "shared/social_widgets" %>
		</div>
		
    <!-- add new feedback link -->
		<div>
       <h2><%= link_to (raw "Lived in this #{@property.propertytype.name}? <input type='submit' value='add feedback'/>"), {:controller=>:feedback, :action=>:add, :id=>@property.id}, {:class=>:nounder}%></h2>
		</div>

    <!-- feedbacks if any -->
    <% if @property.feedbacks.any? %>
		  <div class="post">
		    <div class="posthead">
		      <h2><%=pluralize(@property.feedbacks.count, 'feedback')%></h2>
        </div>
        <% @property.feedbacks.each do |f| %>
          <blockquote>
            <p><cite>Landlord:</cite><%=f.landlord%></p>
            <p><cite>Agency:</cite><%=f.agency%></p>
            <p><cite>Last Date:</cite><%=f.lastdate%></p>
		        <div class="rating"><%= star_rating(:rating => f.rating, :readonly=>true, :name=>"feedback-rating-#{f.id}") %></div>
		        <div class="avatar"><p class="avt2"><%= image_tag user_pic(f.owner.alias)%></p></div>
            <small>Posted by <%=f.owner.full_name %> on <%=f.updated_at %></small>
            <%= link_to 'Details..', :controller =>:feedback, :action=>:view, :id=>f.id %>
          </blockquote>
        <% end %>
		  </div>
    <% end %>

    <!-- comments if any -->
 		<%= render "shared/comments", :comments => @property.comments %>

    <!-- post a comment -->
 		<%= render "shared/post_comment", :commentable => @property%>

	</div>
	<div id="sidebar">
	  <h1>Map</h1>
	  <%= google_static_map :lat=>@property.lat, :lng=>@property.lng %>
	  <%= render "shared/side_pane" %>
	</div>
	<div class="clear">	</div>
</div>

