<h1>Manager page</h1>

<%= link_to "posts", :action => :posts, :page => nil %> |
<%= link_to "properties", :action => :properties, :page => nil %> |
<%= link_to "feedbacks", :action => :feedbacks, :page => nil %> |
<%= link_to "comments", :action => :comments, :page => nil %> |
<%= link_to "users", :action => :users, :page => nil %>
