<div class="textfield fields">    
    <%= item.label :title %><%= item.text_field :title%><br/>
</div>

<div class="textfield fields">
    <%= item.label :author %><%= item.text_field :author%><br/>
</div>

<div class="textfield fields">
    <%= item.label :entry %><%= item.text_area :entry%><br/>
</div>

<%= item.submit "Save"%>
