<%= render "menu" %>
<h2>Users</h2>
<%=paginate @users %>
<table>
<% @users.each do |u| %>
    <tr>
        <td><%= image_tag user_pic(u.alias), {:title => u.email} %></td>
        <td><%= u.name %></td>
        <td><%= u.surname %></td>
        <td><%= u.created_at %></td>
    </tr>
<% end %>
</table>
