<div id="homeheader">
	<div id="mainimg">
		<div id="map"></div>
		<div id="searchform">
				<form id="propertysearch" class="propertysearch">
						<input type="text" name="searchaddress" id="searchaddress"/>
						<input type="submit" value="&nbsp;Search&nbsp;"/>
				</form>
		</div>
		<div id="addbutton">
			<input type="submit" value="Add New Property" data-alt-value="Cancel"/>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="maincontent">
	<div id="threecol">
		<div class="col1">
			<h2>What is it about? </h2>
			<p>
				Landlord Feedback is a community driven feedback website. It is targeted
		    at tenants of all ages and contains feedbacks on private landlords, letting
		    agencies and their offered properties throughout the UK. Landlord Feedback
		    is absolutely free to use for both feedback seekers and feedbacks leavers, 
		    all you need is a Facebook account to log in with.
			</p>
		</div>
		<div class="col2">
			<h2>Why leave feedback?</h2>
			<p>
				You should leave feedback if you feel like sharing information about your
		    landlord, letting agency or the property you live(d) in.	We are interested
		    in both good and bad stories, but please be fair in your feedback. Other
		    users might find it useful as they look for property to rent in your area, 
		    or perhaps even from landlord or agency you are currently renting with.
			</p>
		</div>
		<div class="col3">
			<h2>Why look for feedback?</h2>
			<p>
				If you are on the market to rent a new property, moving to a new area or
		    just between apartments - making research on your future landlord, letting
		    agency or new area isn't such a bad idea. See if somebody left a feedback 
		    on the property you are about to rent, so you know what to expect from 
		    the place or its landlord. Hope you find it useful.
			</p>
		</div>
		<div class="clear">
		</div>
	</div>
	<div class="clear bordered">
	</div>
	<div id="page">
		<h2 class="subhead"><span>Latest from the blog</span></h2>
		<% @posts.each do |post| %>
		  <%url = {:controller=>:blog,:action=>:view,:id=>post.id}%>
		  <div class="post">
			  <div class="posthead">
				  <p class="date">
					  <%= post.updated_at %>
				  </p>
				  <h3><a href="#"><%= link_to post.title, url %></h3>
				  <p class="postmeta">
					  By <%= post.author %>
				  </p>
			  </div>
			  <p>
          <%= post.entry[0,800] %>
			    <%= link_to "more..", url %>
			  </p>
		  </div>
		<% end %>
	</div>
	<div id="sidebar">
    <%= render "shared/latest_properties", :properties => @latest_properties %>
    <%= render "shared/latest_feedbacks", :feedbacks => @latest_feedbacks %>
	</div>
	<div class="clear">
	</div>
</div>
<%= javascript_include_tag "map/map.js" %>
