<% content_for :title, "#{@post.title}" %>
<div id="maincontent">
	<div id="page">
		
		<div class="post">
		  <div class="posthead">
		      <p class="date"><%=@post.updated_at%></p>
  		    <h1><%=@post.title%></h1>
		      <p class="postmeta">By <%=@post.author%></p>
		  </div>
		  <div>
		    <%=raw @post.entry%>
		  </div>
      <%= render "shared/social_widgets" %>
		</div>
		
		<!-- comments if any -->
 		<%= render "shared/comments", :comments => @post.comments %>

    <!-- post a comment -->
 		<%= render "shared/post_comment", :commentable => @post %>

	</div>
	<div id="sidebar">
	  <%= render "shared/side_pane" %>
	  <%= render "shared/latest_posts", :posts => @latest_posts %>
	</div>
	<div class="clear">	</div>
</div>

