<% content_for :title, "#{@property.address}, #{@feedback.agency}, #{@feedback.landlord}" %>
<div id="maincontent">
	<div id="page">
    <!-- main adress -->
		<div class="post">
		  <div class="posthead">
		    <p class="date"><%= @property.updated_at%></p>
		    <h1><%= link_to @property.address, {:controller=>:property,:action=>:view,:id=>@property.id}%></h1>
		    <h1><%= link_to @property.postcode.upcase, {:controller=>:property,:action=>:view,:id=>@property.id}%></h1>
		    <h2>Landlord: <%=@feedback.landlord %> </h2>
		    <h2>Agency: <%=@feedback.agency %> </h2>
		    <h2>Date moved out: <%=@feedback.lastdate.to_s %> </h2>
		    <p class="avt"><%= image_tag user_pic(@feedback.owner.avatar)%></p>
		    <p class="postmeta"><%= @feedback.owner.full_name%></p>
		  </div>
		  <div class="rating"><%= star_rating(:rating => @feedback.rating, :readonly=>true) %></div>
      <%= render "shared/social_widgets" %>
		</div>

		<!-- photos list & upload -->
		<%if @own_page or @feedback.photos.any? %>
		<div class="post" id="photo-container">
		  <%@feedback.photos.each do |f| %>
        <%= image_tag f.photo.url(:thumb) %>
      <% end %>
      <% if @own_page %>
   		  <div class="posthead">
   		    <p class="postmeta unfolder hideself" data_unfolder_id="upload_form_container"><input type="submit" value="Upload Photos"></p>
        </div>
		    <a name="upload_form"></a>
        <iframe name="iframe-post-form" id="iframe-post-form" style="display:none;"></iframe>
		    <div class="form2 formstyle hidden" id="upload_form_container">
		      <%= form_for(@photo, :as=>:photo, :url=>{:controller=>:ajax,:action=>:create_feedback_img}, :html=>{:multipart=>true, :id=>:upload_form}) do |p| %>
		      <div class="fieldsets">
	            <%= p.hidden_field(:feedback_id) %>
              <div class="textfield fields">
		            <label>JPG, PNG images, max 2Mb</label>
                <%= p.file_field(:photo) %>
		          </div>
		          <%= p.submit('Upload') %>
		      </div>
		    <% end %>
		  </div>
		  <% end %>
		</div>
		<%end%>

    <!-- ratings if any -->
    <% if @feedback.entries.any? %>
		<div class="post">
		  <a class="anchor" name="ratings"></a>
		  <div class="posthead">
		    <h2><%=pluralize(@feedback.entries.count, 'rating')%></h2>
      </div>
      <% @feedback.entries.each do |e| %>
        <blockquote>
          <p><cite>Category: </cite><%=e.entrytype.name %></p>
          <p><%=e.description %></p>
		      <div class="rating"><%= star_rating(:rating => e.rating, :readonly=>true, :name=>"entry-rating-#{e.id}") %></div>
          <small>On <%=e.updated_at%></small>
        </blockquote>
      <% end %>
		</div>
		<% end %>

    <!-- post a rating -->
    <% if @own_page %>
		<div class="post">
		  <a class="anchor" name="post_rating"></a>
		  <div class="posthead">
		    <h2>Add rating</h2>
		  </div>
      <div class="form2 formstyle">
        <%= form_for(@entry, :as => :entry, :url =>{ :action=>:entry_create, :id=>@feedback.id, :anchor=>:post_rating }) do |e| %>
          <%= e.hidden_field(:feedback_id) %>
           <div class="fieldsets">
            <h3>New rating</h3>
	          <div class="clear">
	          </div>
	          <p class="info">
		           All fields marked with * are mandatory
	          </p>
        		<%= render "shared/error_list", :item => @entry %>
            <div class="textfield fields">
		          <label>Rating type</label>
              <%= e.select(:entrytype_id,  @entrytypes) %>
            </div>
            <div class="textfield fields">
		          <label>Description</label>
              <%= e.text_area(:description, :rows=>4) %>
            </div>
            <div class="textfield fields">
		          <label>Rate</label>
              <%= star_rating(:name=>"#{:entry}[#{:rating}]")%>
            </div><br/>
            <%= e.submit("Add Rating") %>
          </div>
        <% end %>
      </div>
		</div>
		<% end %>

    <!-- comments if any -->
 		<%= render "shared/comments", :comments => @feedback.comments %>

    <!-- post a comment -->
    <% unless @own_page %>
 		<%= render "shared/post_comment", :commentable => @feedback %>
 		<% end%>
	</div>

 	<div id="sidebar">
    <h1>Map</h1>
    <%= google_static_map :lat=>@property.lat, :lng=>@property.lng %>
 		<%= render "shared/side_pane" %>
  </div>
  <div class="clear">	</div>

</div>

