<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Landlord Feedback :: community accomodation and landlord feedback</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js",
                             "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js",
                             "http://maps.google.com/maps/api/js?sensor=false&region=GB" %>  
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="topbanner">
	<div class="container">
		<h1 id="sitename">
				<%=image_tag src="/images/logo.png", :alt => "logo"%>
				<%=link_to "Landlord Feedback", :root %>
    </h1>
		<div id="mainnav">
			<ul>
				<li class="<%=:active if @menu_item == :home%>"><a href="<%= url_for :controller=>:home, :action=>:index %>">Welcome <span>home..</span></a></li>
				<li class="<%=:active if @menu_item == :about%>"><a href="<%= url_for :controller=>:home, :action=>:about %>">About <span>this project</span></a></li>
				<li class=""><a href="<%= url_for :controller=>:home, :action=>:index %>">Donate <span>to keep this site running</span></a></li>
			</ul>
			<div class="credentials">
	      <% unless user_logged_in? %>
	        <%= link_to((image_tag "fb_login.png", :id=>:fb_login_button), fb_login_path)%>
	      <%else%>  
	        <div class="name"><%= user_name %></div>
	        <div class="avatar"><%= image_tag my_user_pic %></div>
	      <% end %>
			</div>
		</div>
		<div class="clear">
		</div>
	</div>
</div>
<div id="pagewrap">
	<div id="wrap">

  <%= yield %>
   
  </div>
</div>
<div id="bottom">
	<div id="btmcontent">
		<div class="col1">
			<h2>Follow</h2>
			<p>
				raesent tempor, diam at egestas mollis, nisi sapien tristique sem, ac feugiat lectus sapien in turpis. Nam viverra nibh quis arcu aliquam non hendrerit velit vehicula.
			</p>
			<ul>
				<li><a href="#">raesent tempor</a></li>
				<li><a href="#"> diam at egestas mollis</a></li>
			</ul>
		</div>
		<div class="col2">
			<h2>Donate</h2>
			<p>
				raesent tempor, diam at egestas mollis, nisi sapien tristique sem, ac feugiat lectus sapien in turpis. Nam viverra nibh quis arcu aliquam non hendrerit velit vehicula.
			</p>
			<ul>
				<li><a href="#">Nam viverra nibh quis </a></li>
				<li><a href="#">arcu aliquam non hendrerit </a></li>
				<li><a href="#">velit vehicula</a></li>
			</ul>
		</div>
		<div class="col3">
			<h2>Contact</h2>
			<p>
				raesent tempor, diam at egestas mollis, nisi sapien tristique sem, ac feugiat lectus sapien in turpis. Nam viverra nibh quis arcu aliquam non hendrerit velit vehicula.
			</p>
			<ul>
				<li><a href="#">Nam viverra nibh quis </a></li>
				<li><a href="#">arcu aliquam non hendrerit </a></li>
				<li><a href="#">velit vehicula</a></li>
			</ul>
		</div>
		<div class="clear">
		</div>
	</div>
	<div id="footer">
		<p>
			Landlord Feedback 2010
		</p>
		<span class="credit"><a href="http://cssheaven.org" title="free and open source css template">CSS Template</a> by CSS Heaven Released under GPL License</span>
	</div>
</div>
</body>
</html>
